.feature-section {
  display: flex;
  align-items: center;
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  // padding: 120px;
}

.feature__item {
  width: 296px;
  margin: 0 auto;
  margin-bottom: 74px;

  &:nth-child(n+4) {
    margin-bottom: 0;
  }
}

.feature__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.feature__desc {
  text-align: center;
}

.feature__subtitle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  color: $black;
}

.feature__text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: $gray;
}