.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $gray;
  padding: 45px 0 44px;
  margin-bottom: 200px;
}

.logo {
  display: inline-flex;
}

.menu {
  display: inline-flex;

}

.menu__list {
  display: flex;
}

.menu__item {
  font-family: raleway;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 59px;
  color: rgba(255, 255, 255, 0.75);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: #fff;
    transition-duration: 0.8s;
  }
}