.hero-section {
  background: url('../img/dashboard.png') center center / cover no-repeat;
}

.hero {
  margin: 0 auto;
  padding: 0 10%;
  text-align: center;
  margin-bottom: 77px;
}

.hero__title {
  font-size: 65px;
  font-weight: 700;
  font-family: 'opensans';
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 41px;
}

.hero__subtitle {
  margin-bottom: 77px;
  font-size: 22px;
  color: #fff;
}