.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  width: 296px;
  margin: 0 auto;
  margin-bottom: 74px;
}

.features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.features__desc {
  text-align: center;
}

.features__subtitle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
  color: $black;
}

.features__text {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: $gray;
}